[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
channels = "*"
channels-redis = "*"
python-socketio = {extras = ["client"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
